<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" />

</head>

<body>
    <div class="main-content">
        {{!-- display the partial view --}}
        {{>header}}
    </div>

    {{!-- display the partial view --}}
    {{>footer}}
</body>

</html>